<div class="content-wrapper">
  <app-collapsable>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at
      tincidunt mi. Nam vitae tincidunt velit. Donec malesuada vehicula est sed
      bibendum. Nullam sed dolor arcu. Maecenas laoreet a dui sit amet
      consectetur. Nam porttitor, purus a hendrerit gravida, libero nisi porta
      lectus, ut pretium nisl massa sit amet sapien. Interdum et malesuada fames
      ac ante ipsum primis in faucibus. Aliquam finibus cursus dolor, id
      elementum augue vulputate nec. Donec hendrerit urna vel augue molestie
      semper. Ut vel viverra sapien, non accumsan libero. Duis sem tortor,
      vulputate quis tristique a, gravida at velit.
    </p>
    <p>
      Vivamus finibus augue enim, a dignissim purus mattis sit amet. Nunc quis
      mauris luctus, suscipit lectus eget, ornare neque. Cras at viverra urna.
      Nullam ut viverra nisl. Nunc ornare, orci a tristique egestas, odio nulla
      venenatis erat, vitae consectetur libero orci vel mauris. Integer id lorem
      eu ligula porttitor scelerisque aliquet non arcu. Proin elit dui, aliquet
      et leo non, consequat sagittis nunc. Proin eleifend mauris ullamcorper
      viverra tristique. Phasellus non est varius, dapibus est eu, eleifend
      erat. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      Curabitur elementum nibh nec mauris pulvinar luctus. Pellentesque ultrices
      urna urna, at efficitur lorem placerat nec.
    </p>
    <p>
      Ut nec lectus malesuada, egestas ex vitae, mollis ante. Nam sem eros,
      feugiat in felis ut, consectetur cursus augue. Sed tortor leo, consequat
      id turpis ac, euismod semper arcu. Vivamus a aliquet ligula, nec
      vestibulum ex. Proin laoreet purus in magna pretium dignissim sit amet sed
      eros. Quisque est eros, posuere id varius sed, laoreet sed quam. Donec
      luctus, quam eu posuere fringilla, dolor erat lacinia ex, non pretium odio
      tellus in velit. Fusce volutpat justo facilisis, vulputate sapien sed,
      eleifend felis. Cras tincidunt tortor eros. Class aptent taciti sociosqu
      ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>
  </app-collapsable>
  <app-collapsable>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at
      tincidunt mi. Nam vitae tincidunt velit. Donec malesuada vehicula est sed
      bibendum. Nullam sed dolor arcu. Maecenas laoreet a dui sit amet
      consectetur. Nam porttitor, purus a hendrerit gravida, libero nisi porta
      lectus, ut pretium nisl massa sit amet sapien. Interdum et malesuada fames
      ac ante ipsum primis in faucibus. Aliquam finibus cursus dolor, id
      elementum augue vulputate nec. Donec hendrerit urna vel augue molestie
      semper. Ut vel viverra sapien, non accumsan libero. Duis sem tortor,
      vulputate quis tristique a, gravida at velit.
    </p>
    <p>
      Vivamus finibus augue enim, a dignissim purus mattis sit amet. Nunc quis
      mauris luctus, suscipit lectus eget, ornare neque. Cras at viverra urna.
      Nullam ut viverra nisl. Nunc ornare, orci a tristique egestas, odio nulla
      venenatis erat, vitae consectetur libero orci vel mauris. Integer id lorem
      eu ligula porttitor scelerisque aliquet non arcu. Proin elit dui, aliquet
      et leo non, consequat sagittis nunc. Proin eleifend mauris ullamcorper
      viverra tristique. Phasellus non est varius, dapibus est eu, eleifend
      erat. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      Curabitur elementum nibh nec mauris pulvinar luctus. Pellentesque ultrices
      urna urna, at efficitur lorem placerat nec.
    </p>
    <p>
      Ut nec lectus malesuada, egestas ex vitae, mollis ante. Nam sem eros,
      feugiat in felis ut, consectetur cursus augue. Sed tortor leo, consequat
      id turpis ac, euismod semper arcu. Vivamus a aliquet ligula, nec
      vestibulum ex. Proin laoreet purus in magna pretium dignissim sit amet sed
      eros. Quisque est eros, posuere id varius sed, laoreet sed quam. Donec
      luctus, quam eu posuere fringilla, dolor erat lacinia ex, non pretium odio
      tellus in velit. Fusce volutpat justo facilisis, vulputate sapien sed,
      eleifend felis. Cras tincidunt tortor eros. Class aptent taciti sociosqu
      ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>
    <p>
      Ut nec lectus malesuada, egestas ex vitae, mollis ante. Nam sem eros,
      feugiat in felis ut, consectetur cursus augue. Sed tortor leo, consequat
      id turpis ac, euismod semper arcu. Vivamus a aliquet ligula, nec
      vestibulum ex. Proin laoreet purus in magna pretium dignissim sit amet sed
      eros. Quisque est eros, posuere id varius sed, laoreet sed quam. Donec
      luctus, quam eu posuere fringilla, dolor erat lacinia ex, non pretium odio
      tellus in velit. Fusce volutpat justo facilisis, vulputate sapien sed,
      eleifend felis. Cras tincidunt tortor eros. Class aptent taciti sociosqu
      ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>
  </app-collapsable>
</div>
